include ../mixins/icons.pug

footer.player-bar#playerBar
  //- Left: Song Info
  .player-left
    .player-thumbnail#playerThumbnail
    .player-song-info
      span.player-song-info__title#playerTitle Chưa phát bài hát
      a.player-song-info__artist#playerArtist(href="#") --
    button.player-heart-btn#playerLikeBtn(title="Like")
      +icon-heart()

  //- Center: Controls + Progress
  .player-center
    .player-controls
      button.player-controls__btn#btnShuffle(title="Shuffle")
        +icon-shuffle()
      button.player-controls__btn#btnPrev(title="Previous")
        +icon-prev()
      button.player-controls__btn.player-controls__btn--play#btnPlayPause(title="Play")
        span.icon-play
          +icon-play()
        span.icon-pause(style="display:none")
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
            path(d="M6 19h4V5H6v14zm8-14v14h4V5h-4z")
      button.player-controls__btn#btnNext(title="Next")
        +icon-next()
      button.player-controls__btn#btnRepeat(title="Repeat")
        +icon-repeat()
    .player-progress
      span.player-progress__time#playerCurrentTime 0:00
      .player-progress__bar#playerProgressBar
        .player-progress__bar-fill#playerProgressFill(style="width: 0%")
      span.player-progress__time#playerDuration 0:00

  //- Right: Queue + Volume
  .player-right
    .player-queue-btn
      +icon-queue()
      span.player-queue-btn__label Queue
    .player-volume
      button.player-volume__btn#btnMute(title="Volume")
        +icon-volume()
      .player-volume__bar#playerVolumeBar
        .player-volume__bar-fill#playerVolumeFill(style="width: 70%")

  //- Hidden APlayer container (engine only)
  #aplayer(style="display:none; position:absolute; pointer-events:none; opacity:0")