doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{pageTitle}

    //- Google Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

    //- Styles
    link(rel="stylesheet", href="/css/style.css")

  body
    .app-container
      //- Sidebar
      include ../partials/sidebar.pug

      //- Main Content Area
      .main-wrapper
        include ../partials/header.pug

        .content
          block main

      //- Player Bar
      include ../partials/footer.pug

    //- Scripts
    script(src="/js/script.js")